<div class="nav-container">
    <nav class="navbar">
        <div class="logo">
            <img src="/template/1/cgsk/img/gongsiLOGO.png" alt="重工数科LOGO">
        </div>
        <div class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/html/web/shouye/index.html" class="nav-link active" data-link="home">首页</a>
            </li>
            <li class="nav-item">
                <a href="/html/web/products/index.html" class="nav-link" data-link="products">产品展示</a>
                <ul class="dropdown">
                    <li class="dropdown-item">
                        <a href="/html/web/productDetail/index.html" class="dropdown-link">蓝鲸先生智慧教评系统</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="/html/web/productDetail2/index.html" class="dropdown-link">海浪智学数字课程平台</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="/html/web/products/index.html" class="dropdown-link">实训平台</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="/html/web/products/index.html#yiwu-card" class="dropdown-link">重工易物</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="/html/web/products/index.html#university-card" class="dropdown-link">我的大学</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="news.html" class="nav-link" data-link="news">新闻资讯</a>
            </li>
            <li class="nav-item">
                <a href="about.html" class="nav-link" data-link="about">关于我们</a>
            </li>
        </ul>
    </nav>
</div>
